<app-menu></app-menu>

<div class="container-fluid mt-2">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3 text-center">
            <img class="img-fluid img-tumb" src="http://empresas.ioasys.com.br{{empresa.photo}}">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-justify">
              <p>{{empresa.description}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>