.navbar-background {
    min-height: 70px;
    color: white !important;
    background-image: linear-gradient(#ee4c77, #BD3C67);
}

a{
    text-decoration: none;
    color: white;
}

.pointer{
    cursor: pointer;
}

.logo{
    max-height: 35px;
    width: auto;
}

.icon-search{
    max-width: 35px;
}

::placeholder {
    color: #991237;
    opacity: 1; /* Firefox */
}

.input-search::-webkit-search-cancel-button{  
    right:20px;  
}

.input-search{
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
}

.form-control:focus {
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-text {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white;
}
