<nav class="navbar navbar-expand-lg navbar-light navbar-background">
  <img src="assets/logo-nav.png" alt="Logo ioasys" class="logo img-fluid ml-auto mr-auto pointer" [ngClass]="{'d-none': isSearch}"
    [routerLink]="['/home']">
  <div>
    <div class="form-inline ml-auto">
      <img src="assets/ic-search.png" (click)="AtctiveSearch()" class="icon-search img-fluid pointer" [ngClass]="{'d-none': isSearch}">
    </div>
  </div>

  <div class="input-group mb-2" [ngClass]="{'d-none': !isSearch}">
    <div class="input-group-prepend">
      <div class="input-group-text p-0">
        <img src="assets/ic-search.png" (click)="AtctiveSearch()" class="icon-search img-fluid pointer">
      </div>
    </div>
    <input class="form-control input-search" type="search" name="pesquisa" [(ngModel)]="globalService.textSearch" (ngModelChange)="globalService.Search()" placeholder="Pesquisar">
  </div>
</nav>