<div class="login-cont">
  <img src="assets/logo-home.png" alt="Logo ioasys" class="img-fluid mb-5">
  <div class="saudacao">
    <h5 class="font-weight-bold">BEM-VINDO AO
      <br>EMPRESAS</h5>
  </div>
  <h6>Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</h6>
  <form (ngSubmit)="login()" ngNativeValidate>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text p-0">
          <img src="assets/ic-email.png" class="icon-search img-fluid pointer">
        </div>
      </div>
      <input class="form-control input-login" type="email" name="email" [(ngModel)]="dados.email" placeholder="E-mail">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text p-0">
          <img src="assets/ic-cadeado.png" class="icon-search img-fluid pointer">
        </div>
      </div>
      <input class="form-control input-login" type="password" name="senha" [(ngModel)]="dados.password" placeholder="Senha">
    </div>
    <input type="submit" value="Entrar" class="btn-login mt-3">
  </form>
  <div class="alert alert-danger mt-3" role="alert" [ngClass]="{'d-none': !info}">
      Usuário ou senha inválido.
    </div>
</div>