.login-cont{
    padding-top: 40px;
    max-width: 340px;
    text-align: center;
    margin: 0 auto;
}

.saudacao{
    line-height: 10px;
}

::placeholder {
    color: #383743;
    opacity: 1;
}

.input-login{
    color: black;
    background: transparent;
    border: none;
    border-bottom: solid 1px #383743;
    border-radius: 0px;
}

.form-control:focus {
    color: black;
    border: none;
    border-bottom: solid 1px #383743;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-text {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px #383743;
}

.btn-login{
    color: white;
    border: none;
    width: 324px;
    height: 52.8px;
    border-radius: 3.6px;
    background-color: #57bbbc;
}