<app-menu></app-menu>
<div class="text-center text" [ngClass]="{'d-none': globalService.textSearch}">
  <h5>Clique na busca para iniciar.</h5>
</div>

<div class="container-fluid mt-2" [ngClass]="{'d-none': !globalService.resultSearch.length}">
  <div class="card mb-3" *ngFor="let item of globalService.resultSearch" [routerLink]="['/empresa', item.id]">
    <div class="card-body pointer">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
          <img class="img-fluid img-tumb" src="http://empresas.ioasys.com.br/{{item.photo}}">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <h3 class="font-weight-bold">{{item.enterprise_name}}</h3>
          <h4 class="text-secondary">{{item.enterprise_type.enterprise_type_name}}</h4>
          <h5 class="text-secondary">{{item.country}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>